<div class="jsoncms-edit">
  <div data-ng-controller="edit-controller as editCtr">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
        <span class="navbar-brand">{ JSON : <b>CMS</b> }</span>

        <div class="navbar-form navbar-right text-right visible-xs-block">
          <button class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-upload" /></button>
          <button class="btn btn-success" data-ng-click="editCtr.save(jsonDataForm)"><i class="glyphicon glyphicon-save" /></button>
          <button class="btn btn-warning" data-ng-click="editCtr.logout()"><i class="glyphicon glyphicon-log-out" /></button>
        </div>
      </div>
      <div class="container-fluid hidden-xs">
        <div class="navbar-form navbar-right">
          <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Fileupload <i class="glyphicon glyphicon-upload" /></button>
          <button class="btn btn-success" data-ng-click="editCtr.save(jsonDataForm)">Save <i class="glyphicon glyphicon-save" /></button>
          <button class="btn btn-warning" data-ng-click="editCtr.logout()">Logout <i class="glyphicon glyphicon-log-out" /></button>
        </div>
      </div>
      <!-- /.container-fluid -->
    </nav>
    <section class="container">
      <form name="jsonDataForm" sf-schema="editCtr.schema" sf-form="editCtr.form" sf-model="editCtr.model"></form>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Uploaded files</h4>
          </div>
          <div class="modal-body">
            <div class="form-group uploadForm">
              <label class="btn btn-default btn-file">
                                Browse <input type="file" class="fileupload" ngf-select="editCtr.onFileSelected($file)" ng-model="editCtr.file" />
                            </label>
              <input type="text" class="form-inline-control nameInput" placeholder="filename" data-ng-model="editCtr.uploadFilename" />
              <button class="btn btn-primary uploadButton" data-ng-click="editCtr.uploadFile()">upload <i class="glyphicon glyphicon-upload" /></button>
            </div>
            <div class="row">
              <div data-ng-repeat="upload in editCtr.uploads" class="col-xs-3 previewContainer" data-ng-class="{'break': ($index%4 === 0)}">
                <div class="preview" data-ng-if="upload.mimetype.includes('image')">
                  <img data-ng-src="{{editCtr.uploadFolder + upload.url}}" class="thumbnail"></img>
                </div>
                <div class="preview" data-ng-if="upload.mimetype.includes('video')">
                  <video class="thumbnail" controls>
                    <source data-ng-src="{{editCtr.uploadFolder + upload.url}}" type="video/mp4"> Your browser does not support the video tag.
                  </video>
                </div>
                <div class="preview" data-ng-if="upload.mimetype.includes('audio')">
                  <audio class="thumbnail" controls>
                    <source data-ng-src="{{editCtr.uploadFolder + upload.url}}" type="video/mp4"> Your browser does not support the video tag.
                  </audio>
                </div>
                <div class="preview" data-ng-if="!upload.mimetype.includes('video') && !upload.mimetype.includes('image') && !upload.mimetype.includes('audio')">
                  <div class="thumbnail">
                    <span data-ng-bind="upload.mimetype"></span>
                  </div>
                </div>
                <a data-ng-href="{{editCtr.uploadFolder + upload.url}}" target="_blank">
                  <div data-ng-bind="upload.name"></div>
                </a>
                <button class="btn btn-xs btn-danger" data-ng-click="editCtr.deleteFile(upload.url)">delete</button>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
