<div class="jsoncms-login">
  <div class="wrapper" data-ng-controller="login-controller as loginCtr">
    <div class="form-signin">
      <h2 class="form-signin-heading">Please login</h2>
      <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" data-ng-model="loginCtr.username"
      />
      <input type="password" class="form-control" name="password" placeholder="Password" required="" data-ng-model="loginCtr.password"
      />
      <label class="checkbox">
                <input type="checkbox" data-ng-model="loginCtr.remember" /> Remember me
            </label>
      <button class="btn btn-lg btn-primary btn-block" type="button" data-ng-click="loginCtr.login()">Login</button>
    </div>
  </div>
</div>
